body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(1,81,119,1) 38%, rgba(1,108,148,1) 51%, rgba(1,127,168,1) 60%, rgba(0,212,255,1) 100%);
    color: black;
    background-attachment: fixed;
    margin: 0;
    font-family: sans-serif;
}
#form{
    width:400px;
    margin: 10vh auto 0 auto;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    padding: 30px;
}

h1{
    text-align: center;
    color: rgb(107, 102, 187);
}

#form button{
    padding: 10px;
    margin-top: 10px;
    background-color: blueviolet;
    color: aliceblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    width: 100%;
}

.input-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input-group input{
    border-radius: 5px;
    font-size: 20px;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid blue;
}